{% extends 'dnd_monsters/base.html' %}

{% block title %}{{ monster.name }} | {% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="section">
                {% if monster.image %}
                    <figure class="image mb-6">
                        <img src="{{ monster.image.url }}">
                    </figure>
                {% endif %}

                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">

                            <h2 class="subtitle is-4">{{ monster.created_at|date:"Y-m-d" }}</h2>
                            <h1 class="title">{{ monster.name }}</h1>
                            <p><strong>{{ monster.about }}</strong></p>

                            <p><small>Type: <a href="{% url "type_detail" monster.type.slug %}">{{ monster.type }}</a></small></p>
                            <hr>
                            <h2 class="subtitle is-4">Comments</h2>

                            <form method="post" class="mb-6">
                                    {% csrf_token %}

                                    {{ form.as_p }}

                                    <div class="field">
                                        <div class="control">
                                            <button class="button is-success">Submit comment</button>
                                        </div>
                                    </div>
                                </form>

                            {% for comment in monster.comments.all %}
                                <article class="media box">
                                    <div class="media-content">
                                        <strong>{{ comment.name }}</strong><small>{{ comment.created_at|timesince }} ago</small><br>
                                        {{ comment.body }}
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}