main {
    background-image: url('/static/img/monster_wallpaper.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: grid;
    place-items: stretch center;
}
footer img {
    max-height: 5rem;
}
footer {
    background-color: #ccc;
    display: grid;
    place-items: stretch center;
    /* grid-column: span 2; */
}