<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style>
            nav.navbar {
                height: 6rem !important;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
            }
        </style>
    </head>
        <body>
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/"></a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                        <a href="/" class="navbar-item is-size-5 has-text-weight-semibold">Home</a>
                        <a href="{% url "monsterspage" %}" class="navbar-item is-size-5 has-text-weight-semibold">Monsters</a>
                        <a href="{% url "type" %}" class="navbar-item is-size-5 has-text-weight-semibold">Types</a>
                        <a href="{% url "playerspage" %}" class="navbar-item is-size-5 has-text-weight-semibold">Players</a>
                        <a href="{% url "npcpage" %}" class="navbar-item is-size-5 has-text-weight-semibold">NPC's</a>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="control has-icons-left">
                                    <input class="input is-rounded" type="text" placeholder="Search">
                                    <span class="icon is-left">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock  %}
            </div>
        </section>
        <footer>
            <div class="container has-text-centered">
                {% block footer %}<p>(C) 2022 PTU5 Linas Final Project</p>{% endblock footer %}
                <div class="container">
                    <a href="https://facebook.com/linasnorkus" target="_blank"></a>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclipartspub.com%2Fimages%2Ffacebook-logo-clipart-vector-8.png&f=1&nofb=1&ipt=e07fb7761f659aeae5d2bae669c1e97a29a4527718187969df56ee04a1e764c0&ipo=images">
                    <h1>Facebook</h1>
                </div>
            </div>
        </footer>
    </body>
</html>