{% extends 'dnd_monsters/base.html' %}

{% block title %}Search | {% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <div class="content is-medium">
                                <h1>Search results</h1>
                                <h3>Query "{{ query }}"</h3>
                            </div>
                            {% for monster in monsters %}
                                <div class="content is-medium">
                                    <a href="{% url 'monster_detail' monster.type.slug monster.slug %}"
                                        <h2 class="subtitle is-4">{{monster.created_at|date:"Y-m-d"}}</h2>
                                        <h1 class="title">{{monster.name}}</h1>
                                        <p>{{monster.about}}</p>
                                    </a>
                                </div>
                                {% empty %}
                                <div class="content">
                                    <p>No results found...</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}